body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color:rgb(34, 34, 34);
    background-color: rgba(248, 248, 248, 0.5);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}